.button {
  --btn-bg: var(--btn-primary-color);
  --btn-color: #fff;
  --btn-border: var(--btn-bg);
  --btn-radius: var(--elem-radius, 4px);

  appearance: none;

  display: inline-block;
  max-width: var(--btn-max-width);
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

.button.wide {
  max-width: none;
}

.button[disabled] {
  cursor: wait;
}

.button > span {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 8ch;
  height: var(--input-height);
  padding-right: 0.8rem;
  padding-left: 0.8rem;

  border: 2px solid var(--btn-border);
  border-radius: var(--elem-radius);
  background: var(--btn-bg);
  font-weight: 500;
  color: var(--btn-color);
}

.button:hover > span {
  --btn-bg: var(--color2);
  --btn-border: var(--btn-bg);
  --btn-color: #fff;

  transition: var(--anim);
}

.button.secondary > span {
  /* R */
  --btn-bg: transparent;
  --btn-color: var(--btn-secondary-color);
  --btn-border: var(--btn-color);
}

.button.secondary:hover > span {
  --btn-bg: var(--btn-color);
  color: #fff;
}

.button.wicon {
  width: auto;
  max-width: none;
}

.button.wicon > span {
  position: relative;
  flex-direction: column;
  padding-top: 2rem;
  height: calc(var(--input-height) * 2.5);
}

.button.wicon > span:before {
  position: absolute;
  top: -3.4rem;
  left: 50%;
  display: block;
  width: 7rem;
  height: 7rem;

  background-repeat: no-repeat;
  background-size: 100%;

  transform: translateX(-50%);
  content: '';
}

.button.samples > span:before {
  background-image: url(/images/icons/samples.svg);
}

.button.templates > span:before {
  background-image: url(/images/icons/blocks.svg);
}

.button.videos > span:before {
  background-image: url(/images/icons/videos.svg);
}

.button.blog > span:before {
  background-image: url(/images/icons/blog.svg);
}

.button.docs > span:before {
  background-image: url(/images/icons/docs.svg);
}

.button[class*="highlight"] > span {
  box-shadow: var(--card-box-shadow);
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--font-color);
}

.button.highlight > span {
  background: linear-gradient(
    112.23deg,
    var(--color4) -14.48%,
    var(--color12) 73.86%
  );
}

.button.highlight2 > span {
  background: linear-gradient(235.94deg, var(--color13) 21.38%, var(--color10) 89.69%);
}

.button.highlight3 > span {
  background: linear-gradient(255.31deg, var(--color12) 25.59%, var(--color6) 75.99%);
}

.button.highlight4 > span {
  background: linear-gradient(255.31deg, var(--color10) 25.59%, var(--color6) 75.99%);
}

.button.rounded > span {
  border-radius: 30px;
}

.button.small > span {
  height: calc(var(--input-height) * 3 / 4);
  font-size: 0.85rem;
}

.button.medium > span {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  height: calc(var(--input-height) * 1.2);
  font-size: 1.2rem;
}

.button.color1,
.button.color2,
.button.color3,
.button.color4,
.button.color5,
.button.color7,
.button.color8,
.button.color9,
.button.color11 {
  --btn-color: #fff;
}

.button.color6,
.button.color10,
.button.color12,
.button.color13 {
  --btn-color: var(--font-color);
}

.button.color1 {
  --btn-bg: var(--color1);
}
.button.color2 {
  --btn-bg: var(--color2);
}
.button.color3 {
  --btn-bg: var(--color3);
}
.button.color4 {
  --btn-bg: var(--color4);
}
.button.color5 {
  --btn-bg: var(--color5);
}
.button.color6 {
  --btn-bg: var(--color6);
}
.button.color7 {
  --btn-bg: var(--color7);
}
.button.color8 {
  --btn-bg: var(--color8);
}
.button.color9 {
  --btn-bg: var(--color9);
}
.button.color10 {
  --btn-bg: var(--color10);
}
.button.color11 {
  --btn-bg: var(--color11);
}
.button.color12 {
  --btn-bg: var(--color12);
}
.button.color13 {
  --btn-bg: var(--color13);
}

.button.secondary.color1 > span {
  --btn-color: var(--color1);
  --btn-border: var(--color1);
}

.button.secondary.color2 > span {
  --btn-color: var(--color2);
  --btn-border: var(--color2);
}

.button.secondary.color3 > span {
  --btn-color: var(--color3);
  --btn-border: var(--color3);
}

.button.secondary.color4 > span {
  --btn-color: var(--color4);
  --btn-border: var(--color4);
}

.button.secondary.color5 > span {
  --btn-color: var(--color5);
  --btn-border: var(--color5);
}

.button.secondary.color6 > span {
  --btn-color: var(--color6);
  --btn-border: var(--color6);
}

.button.secondary.color7 > span {
  --btn-color: var(--color7);
  --btn-border: var(--color7);
}

.button.secondary.color8 > span {
  --btn-color: var(--color8);
  --btn-border: var(--color8);
}

.button.secondary.color9 > span {
  --btn-color: var(--color9);
  --btn-border: var(--color9);
}

.button.secondary.color10 > span {
  --btn-color: var(--color10);
  --btn-border: var(--color10);
}

.button.secondary.color11 > span {
  --btn-color: var(--color11);
  --btn-border: var(--color11);
}

.button.secondary.color12 > span {
  --btn-color: var(--color12);
  --btn-border: var(--color12);
}

.button.secondary.color13 > span {
  --btn-color: var(--color13);
  --btn-border: var(--color13);
}

.button.secondary.color12:hover > span {
  color: var(--color1);
}

.button-subtext {
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.25;
}

.button-subtext {
  display: block;
  margin-bottom: .3rem;
  font-size: 0.65rem;
  font-weight: 500;
  line-height: 1.25;
}

.button-group {
  display: grid;
  gap: var(--spacer-2) var(--spacer-half);
  padding: 0;
}
