.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

/* Special instance where we have a wrapper */

.icon.small {
  width: 1.8rem;
  height: 1.8rem;
}

.icon.medium {
  width: 2.6rem;
  height: 2.6rem;
}

.icon.large {
  width: 5rem;
  height: 5rem;
}

.icon.xlarge {
  width: 8rem;
  height: 8rem;
}

.icon.highlight {
  border-radius: 50%;
  background: #f2f2f2;
}

.icon.highlight img,
.icon.highlight svg {
  max-width: 76%;
}



.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
