.hero {
  position: relative;
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-2);
}

.hero > .container {
  position: relative;
}

.hero-header {
  margin-bottom: var(--spacer);
}

.hero h1 {
  font-size: 3rem;
}

.hero h1:last-child {
  margin-bottom: 0;
}

.nav-back-button {
  position: absolute;
  top: calc(var(--spacer) * -2); /* R */
  left: calc(var(--gutter) * 1.4);
  max-width: none;
}

.nav-back-button > span {
  --btn-bg: transparent;
  --btn-color: #777;
  --btn-border: #ccc;
}

.hero .lead + .button-group {
  margin-top: var(--spacer);
}

.hero .eyebrow {
  text-decoration: none;
  opacity: 0.8;
}

.hero-subnav {
  margin-top: var(--spacer-3);
}

/* Hero Variations */

.hero.slant2 {
  background-image: url(/images/slant2.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 88% auto;
}

.hero.blob {
  background-image: url(/images/big-blob.svg);
  background-position: top -186px left -500px;
  background-repeat: no-repeat;
  background-size: auto 434px;
}

.hero.bordered {
  border-bottom: 1px solid #ddd;
}

.focal-hero .hero-header {
  margin: 0 auto;
  max-width: calc(var(--max-width) * (8 / 12));
  text-align: center;
}

.focal-hero .hero-subnav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.focal-hero .hero-subnav li {
  flex: 1;
  display: flex;
}

.focal-hero .hero-subnav li > * {
  width: 100%;
}

.focal-hero .hero-subnav .button {
  text-align: center;
}

.interactive-hero {
  position: relative;
  padding-top: var(--spacer-3);
}

.interactive-hero > * {
  position: relative;
  z-index: 1;
}

.interactive-hero:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;
  content: '';

  background-image: url(/images/hero/hero-shape1.svg);
  background-repeat: no-repeat;
  background-size: 200vw;
  background-position: center top 5vh;
}

.interactive-hero .hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacer-3);
}

.interactive-hero .lead {
  font-size: 1.8rem;
  line-height: 1.2;
}

@media (min-width: 920px) {
  .interactive-hero {
    padding-top: calc(var(--spacer) * 4);
  }

  .interactive-hero .hero-header {
    display: block;
    padding-top: var(--spacer-2);
  }

  .interactive-hero:before {
    height: 130%;

    background-image: url(/images/hero/hero-shape4.svg),
      url(/images/hero/hero-shape3.svg), url(/images/hero/hero-shape2.svg),
      url(/images/hero/hero-shape1.svg);

    background-repeat: no-repeat;

    background-position: left 50% top -50px, center top 80px,
      bottom 36% right -5%, center top;

    background-size: 660px, 400px, 360px, 2000px;
  }

  .interactive-hero .grid {
    grid-template-columns: 1fr 62.5%;
    gap: var(--gap);
  }

  .interactive-hero .hero-header {
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) {
  .interactive-hero:before {
    background-position: left 50% top -50px, center top 80px,
      bottom 36% right 6vw, center top 2%;

    background-size: 660px, 400px, 360px, 2000px;
  }
}

.home-hero {
  padding: var(--spacer-2);
  padding-bottom: 0;
}

.home-hero .hero-header {
  margin: 0 auto var(--spacer);
}

.home-hero .hero-content {
  display: flex;
  justify-content: center;
}

.home-hero h1 {
  color: var(--color2);
}

.home-hero .button span {
  height: 3.5rem;
  font-size: 1.4rem;
}

.home-hero .lead {
  font-size: 1.4rem;
  font-weight: var(--weight-medium);
  color: #5E5E5E;
}

.home-hero .lead p + p {
  margin-top: auto;
}

@media (min-width: 840px) {
  .home-hero {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }

  .home-hero .grid {
    grid-template-columns: 55% 1fr;
  }

  .home-hero .hero-header {
    padding-top: var(--spacer-2);
  }
}

.featured-hero {
  padding-bottom: 0;
}

.featured-hero .postcard {
  border: none;
  background: none;
  box-shadow: none;
}

.featured-hero .postcard .card-header,
.featured-hero .postcard .card-footer {
  padding-right: 0;
  padding-left: 0;
}

.hero-wfeature {
  background-color: var(--color3);
  background-image: url(/images/blocks-faded.svg);
  background-repeat: no-repeat;
  background-size: 700px auto;
  background-position: left 10% top;
}

.hero-wfeature .nav-back-button span {
  --btn-color: #fff;
}

.hero-wfeature .grid {
  gap: calc(var(--gap) / 2);
}

.hero-wfeature .hero-header {
  margin-bottom: 0;
  color: #fff;
}

.hero-wfeature .hero-header a {
  color: #fff;
}

.hero-wfeature .hero-header a:hover {
  color: var(--color12);
}

.hero-wfeature .hero-header > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 580px) {
  .hero-subnav .button-group {
    grid-template-columns: repeat(2, minmax(auto, max-content));
  }
}

@media (min-width: 768px) {
  .hero-subnav .button-group {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero-split .container {
    display: grid;
    grid-template-columns: 45% 1fr;
    column-gap: var(--gap);
  }
}

@media (min-width: 840px) {
  .featured-hero .container {
    display: grid;
    column-gap: var(--gap);
    grid-template-columns: 58% minmax(0, 360px);
  }

  .featured-hero .tag-nav {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1024px) {
  .hero-split .container {
    grid-template-columns: 35% 1fr;
  }

  .featured-hero .container {
    grid-template-columns: 60% minmax(1fr, 300px);
  }

  .hero-wfeature {
    background-color: transparent;
    padding-right: 40px;

    /* Encoded image to get around flicker issues */
    background-image: url(/images/blocks-faded.svg),
      url("data:image/svg+xml,%3Csvg width='2363' height='661' viewBox='0 0 2363 661' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1744.96 648.413C1737.43 656.141 1727.1 660.5 1716.31 660.5H50.6838C23.0738 660.5 0.683838 638.114 0.683838 610.5V50C0.683838 22.386 23.0738 0 50.6838 0H2352.98C2361.83 0 2366.32 10.642 2360.14 16.978L1744.96 648.413Z' fill='%231D4E89'/%3E%3C/svg%3E"),
      linear-gradient(90deg, var(--color3) 40%, #fff 40%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 700px auto, auto 100%, 100%;
    background-position: left 10% center, right 10vw center, left center;

    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }

  .hero-wfeature .grid {
    grid-template-columns: 1fr 45%;
    align-items: flex-start;
    grid-gap: calc(var(--gap) * 2);
  }
}
