* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

header img {
    margin: 0 16px;
}